<!DOCTYPE html>
<html lang="en">
    <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>Categories</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        </head>
        <body>

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" th:href="@{/}">BookingHotel</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" th:href="@{/}">Home</a></li>
                        <li><a href="#" th:href="@{/register}">Create account</a></li>
                        <li><a href="#" th:href="@{/panel/admin}" th:if="${#request.isUserInRole('ROLE_ADMIN')}">Admin
                            panel</a></li>
                        <li><a href="#" th:href="@{/user}">My account</a></li>
                        <li><a href="#" th:href="@{/logout}" th:if="${#request.isUserInRole('ROLE_USER')}">Logout</a>
                        </li>
                        <li><a href="#" th:href="@{/logout}" th:if="${#request.isUserInRole('ROLE_ADMIN')}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="jumbotron text-center">
                <table class="table" align="center">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="c:${roomCategories}">
                            <td th:text="${c}">Category's name</td>
                        </tr>
                </table>
            </div>
        </body>
    </html>
