<!DOCTYPE html>
<html lang="en">
    <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>Create new account</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        </head>
        <body>

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" th:href="@{/}">BookingHotel</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" th:href="@{/}">Home</a></li>
                        <li><a href="#" th:href="@{/register}">Create account</a></li>
                        <li><a href="#" th:href="@{/panel/admin}" th:if="${#request.isUserInRole('ROLE_ADMIN')}">Admin
                            panel</a></li>
                        <li><a href="#" th:href="@{/user}">My account</a></li>
                        <li><a href="#" th:href="@{/logout}" th:if="${#request.isUserInRole('ROLE_USER')}">Logout</a>
                        </li>
                        <li><a href="#" th:href="@{/logout}" th:if="${#request.isUserInRole('ROLE_ADMIN')}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="jumbotron">
                <div class="jumbotron text-center">
                    <h1>Register form</h1>
                    <form th:action="@{/register}" th:object="${user}" method="post">
                        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name errors</p>
                        <input th:field="*{firstName}" placeholder="First name"><br>
                        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name errors</p>
                        <input th:field="*{lastName}" placeholder="Last name"><br>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email errors</p>
                        <p th:if="${message}" th:text="${message.getContent()}">Duplicate email error</p>
                        <input th:field="*{email}" placeholder="Email"><br>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password errors</p>
                        <input th:field="*{password}" type="password" placeholder="Password min. 4 char"><br>
                        <input type="submit" value="Register">
                    </form>
                </div>
            </div>
        </body>
    </html>