<!DOCTYPE html>
<html lang="en">
    <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>Title</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        </head>
        <body>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" th:href="@{/}">BookingHotel</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" th:href="@{/}">Home</a></li>
                        <li><a href="#" th:href="@{/secured}">Secured page</a></li>
                        <li><a href="#" th:href="@{/register}">Create account</a></li>
                        <li><a href="#" th:href="@{/panel/admin}" th:if="${#request.isUserInRole('ROLE_ADMIN')}">Admin
                            panel</a></li>
                        <li><a href="#" th:href="@{/user}">My account</a></li>
                        <li><a href="#" th:href="@{/logout}" th:if="${#request.isUserInRole('ROLE_USER')}">Logout</a>
                        </li>
                        <li><a href="#" th:href="@{/logout}" th:if="${#request.isUserInRole('ROLE_ADMIN')}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <form class="form-inline mr-auto text-center">
                <input class="form-control" type="text" placeholder="Where are you going?"
                       aria-label="Search" th:name="city">
                <button class="btn btn-dark btn-rounded btn-sm my-0" type="submit">Search</button>
            </form>
            <div class="container">
                <div class="jumbotron text-center">
                    <table class="table" align="center">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">City</th>
                                <th class="text-center">Number</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Category</th>
                                <th class="text-center">Is available?</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="r:${rooms}">
                                <td th:text="${r.city}">City</td>
                                <td th:text="${r.number}">Number</td>
                                <td th:text="${r.price}">Price</td>
                                <td th:text="${r.roomCategory}">Category</td>
                                <td th:text="${r.available}">True</td>
                                <td>
                                    <form action="#" th:action="@{/room/delete}" method="post" th:object="${r}">
                                        <input type="hidden" th:value="*{id}" th:name="idRoomToDelete">
                                        <input type="submit" class="btn btn-primary btn-sm btn-danger" value="Delete">
                                    </form>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
            <div class="container text-center">
                <div class="jumbotron">

                    <h3>Add new room</h3>
                    <p>
                    <p th:if="${message}" th:text="${message.getContent()}">Result message</p>
                    </p>
                    <form th:object="${room}" th:action="@{/room/add}" method="post">
                        <p>
                        <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City errors</p>
                        </p>
                        <p>
                            <input type="text" placeholder="City" th:field="*{city}">
                        </p>
                        <p>
                            <input type="number" placeholder="Number" th:field="*{number}">
                        </p>
                        <p>
                            <select size="1" style="width: 270px;" th:field="*{roomCategory}">
                                <option value="Apartment" th:value="'Apartment'">Apartment</option>
                                <option value="Comfort" th:value="'Comfort'">Comfort</option>
                                <option value="Standard" th:value="'Standard'">Standard</option>
                            </select>
                        </p>
                        <p>
                            <input type="number" placeholder="Price" th:field="*{price}">
                        </p>
                        <p>
                            Select if is free
                            <input type="checkbox" th:field="*{available}" placeholder="Available">
                        </p>
                        <p>
                            <textarea th:field="*{description}" placeholder="Description"></textarea>
                        </p>
                        <input type="submit" class="btn btn-primary btn-sm" value="Add new room">
                    </form>
                </div>
            </div>
        </body>
    </html>